<div class="container">
  <br>
  <h2>Inscrivez-vous</h2>
  <br>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :first_name, required: true, autofocus: true,
                  input_html: { autocomplete: "first_name" }, label: "Prenom" %>
      <%= f.input :last_name, required: true, autofocus: true,
                  input_html: { autocomplete: "name" }, label: "Nom" %>
      <%= f.input :password, required: true, label: "Mot de passe" %>
      <%= f.input :password_confirmation, required: true, label: "Confirmer mot de passe" %>
      <%= f.input  :username, label: "Pseudo",
                  input_html: { autocomplete: "username" }%>
      <%= f.input :phone_number, autofocus: true,
                  input_html: { autocomplete: "tel" }, label: "Telephone",
                  hint: "Non obligatoire" %>
      <%= f.input :avatar, as: :file %>
    </div>
  <br>
    <div class="form-actions">
      <%= f.button :submit, "S'inscrire", class: "btn btn-primary", style: "margin-bottom: 20px;" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
