<section class="banner">
  <div class="heading">
    <%= form_tag flats_path, method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Paris, Marseille ..." %>
      <button class="icon"><i class="fa fa-search"></i></button>
    <% end %>

    <%= link_to "Ajouter votre appart'", new_flat_path, class: "btn btn-light" %>
  </div>
</section>

<div class="container">
  <section class="cities">
    <h2>Villes les plus recherchées</h2>
    <div class="cities-grid" style="margin-bottom: 80px">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.paris.fr/paris/2021/10/04/huge-0155e58a77df359c58c437e521a2ed43.jpg)">
        <%= link_to "Paris", flats_path(query: "paris") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://a.cdn-hotels.com/gdcs/production14/d1589/9b2a4ed0-8f10-11e8-a0da-0242ac11004d.jpg)">
        <%= link_to "Marseille", flats_path(query: "marseille") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.notrefrance.com/pics/tourisme/que-visiter/provence-alpes-cote-d-azur/alpes-maritimes/nice/vue-ensemble-ville-nice-1.jpg)">
        <%= link_to "Nice", flats_path(query: "nice") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.actu.fr/uploads/2020/12/adobestock-287216683-1.jpeg)">
        <%= link_to "Toulouse", flats_path(query: "toulouse") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://resize.prod.femina.ladmedia.fr/rblr/1401,978/img/var/2022-03/lyon-meilleur-pire-arrondissements.jpg)">
        <%= link_to "Lyon", flats_path(query: "lyon") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Lille_vue_gd_place.JPG/1200px-Lille_vue_gd_place.JPG)">
        <%= link_to "Lille", flats_path(query: "lille") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.meteocity.com/images/cache/seo/images/download/blocks/montpellier-2992166-jeremy-bezanger-bz1fd1ecgri-unsplash-617169fae3b7f733862246.jpg)">
        <%= link_to "Montpellier", flats_path(query: "montpellier") %>
      </div>
    </div>
  </section>

  <section id="map" style="width: 100%; height: 600px; margin-bottom: 100px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </section>

  <section class="recents-flats">
    <h2>Quleques offres récentes</h2>
      <% if @flats.empty? == false %>
          <div class="flat-grid">
            <% @flats_to_show.each do |flat| %>
              <div class="card-flat">
                <% if flat.photo.attached? %>
                  <%= link_to cl_image_tag(flat.photo.key), flat_path(flat), alt: "Photo de l'appartement" %>
                <% else %>
                  <%= link_to image_tag("default_flat.jpg"), flat_path(flat), alt: "Photo de l'appartement" %>
                <% end %>
                <div class="card-flat-infos">
                  <div>
                    <h2><%= link_to flat.name.upcase, flat_path(flat) %></h2>
                    <p><%= flat.address.capitalize %></p>
                  </div>
                  <h4 class="card-flat-pricing"><%= flat.daily_price %>€/nuit</h4>
                </div>
              </div>
            <% end %>
          </div>
      <% else %>
        <h2>Aucun Résultat !</h2>
      <% end %>
  </section>

  <%= link_to "Voir toutes les offres", flats_path, class: "index-link" %>
</div>
