<div class="container">
    <% if @flats.empty? == false %>
        <div class="flat-grid" style="margin-top: 80px;">
          <% @flats.each do |flat| %>
            <div class="card-flat">
              <% if flat.photo.attached? %>
                <%= link_to cl_image_tag(flat.photo.key), flat_path(flat) %>
              <% else %>
                <%= link_to image_tag("default_flat.jpg"), flat_path(flat) %>
              <% end %>
              <div class="card-flat-infos">
                <div>
                  <h2><%= link_to flat.name.upcase, flat_path(flat) %> </h2>
                  <p><%= flat.address.capitalize %></p>
                </div>
                <h4 class="card-flat-pricing"><%= flat.daily_price %>€/jour</h4>
                <%# <% if flat.user.avatar.attached? %>
                  <%# <%= cl_image_tag flat.user.avatar.key, class: "card-flat-user avatar-bordered" %>
                <%# <% else %>
                  <%= image_tag "avatar-card-2", class: "card-flat-user avatar-bordered" %>
                <%# <% end %>
              </div>
            </div>
          <% end %>
        </div>
    <% else %>
      <h1>Aucun Résultat !</h1>
    <% end %>
</div>
