<p id="notice"><%= notice %></p>

<h1>Flats</h1>
  <% @flats.each do |flat| %>
    <tr>
      <%= flat.name %>
      <%= flat.address %>
      <%= link_to 'Show', flat %>
    </tr>
  <% end %>

  <div id="map" style="width: 50%; height: 400px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<br>
<%= simple_form_for :search, url: flats_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
