<div class="container">
  <br>
  <%# <em>Don't forget to add Pagination later (15 f/p), then sort with filters (price, cities, beds number...)</em>
  <em>Grid in show to divide booking and map in responsive</em> %>

  <section class="index-flats">
    <% if @flats.empty? == false %>
        <div class="flat-grid">
          <% @flats.each do |flat| %>
            <div class="card-flat">
              <% if flat.photo.attached? %>
                <%= link_to cl_image_tag(flat.photo.key), flat_path(flat) %>
              <% else %>
                <%= link_to image_tag("default_flat.jpg"), flat_path(flat) %>
              <% end %>
              <div class="card-flat-infos">
                <div>
                  <h2><%= link_to flat.name.upcase, flat_path(flat) %> </h2>
                  <p><%= flat.address.capitalize %></p>
                </div>
                <h4 class="card-flat-pricing"><%= flat.daily_price %>€/nuit</h4>
              </div>
            </div>
          <% end %>
        </div>
    <% else %>
      <h2>Aucun Résultat !</h2>
    <% end %>
  </section>

  <div class="pages">
  <%# <% if @flats.size > 18 %>
    <%# <%= paginate @flats, outer_window: 3 %>
    <%# <% end %>
  </div>
</div>
