<p id="notice"><%= notice %></p>

<h1>Flats</h1>
    <% @flats.each do |flat| %>
      <tr>
      <%= flat.name %>
      <%= link_to 'Show', flat %>
      <%= link_to 'Edit', edit_flat_path(flat) %>
      <%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>

  <div id="map" style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<br>

<%= link_to 'New flat', new_flat_path %>
