<p id="notice"><%= notice %></p>

<h1>Flats</h1>
  <% @flats.each do |flat| %>
    <tr>
      <%= flat.name %>
      <%= flat.address %>
      <%= link_to 'Show', flat %>
    </tr>
  <% end %>

  <div id="map" style="width: 50%; height: 400px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<br>

<%= link_to "Back", root_path, class: "btn btn-primary" %>
<%= link_to "Modifier profil", edit_user_registration_path, class: "dropdown-item" %>
<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
