<div class="banner-show">
  <h1><%= @flat.name %> / <%= @flat.area %> m²</h1>
</div>

<div class="container">
  <div class="img-show">
    <% if @flat.photo.attached? %>
      <%= cl_image_tag @flat.photo.key, height: 600, width: 1200, crop: :fill %>
    <% else %>
      <%= image_tag "default_flat.jpg", crop: :fill%>
    <% end %>
  </div>

  <div class="infos-show">
    <div class="text">
      <h1><i class="fa-solid fa-feather-pointed"></i> Informations :</h1>
      <div class="trix-content">
        <p><%= @flat.description %></p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h4><i class="fa-solid fa-money-check-dollar"></i> Prix/jour :</h4> &nbsp <p><%= @flat.daily_price %>€</p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h4><i class="fa-solid fa-house"></i> Superficie :</h4> &nbsp <p><%= @flat.area %> m²</p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h4><i class="fa-solid fa-house"></i> Chambre(s) :</h4> &nbsp <p><%= @flat.beds %></p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h4><i class="fa-solid fa-map-location-dot"></i> Adresse :</h4> &nbsp <p><%= @flat.address %></p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h4><i class="fa-solid fa-map-location-dot"></i> Propriétaire :</h4> &nbsp <p><%= @flat.user.first_name %> <%= @flat.user.last_name %></p>
      </div>
    </div>
  </div>

  <div class="map-booking">
    <div class="bloc-map">
      <div id="map" style="margin-top: 15px; height: 500px; border-radius: 10px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @marker.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="bloc-booking">
      <% if @flat.user != current_user %>
        <div class="new-booking" style="margin-top: 50px">
          <%= simple_form_for [@flat, @booking] do |f| %>
            <%# <h4>Date d'arrivée <i class="fa-regular fa-face-smile-beam"></i></h4> %>
            <%= f.input :arrival, as: :date, html5: true, label: false,
                          input_html: { id: "range_start", class: "d-none" } %>
            <%# <h4>Date de départ <i class="fa-regular fa-face-sad-cry"></i></h4> %>
            <%= f.input :departure, as: :date, html5: true, label: false,
                          input_html: { id: "range_end", class: "d-none" } %>
            <%= f.submit "Réservez mainenant !", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% else %>
        <div style="margin-top: 50px">
          <%= link_to "Modifier les informations", edit_flat_path(@flat), class: "btn btn-warning" %>
          <%= link_to "Supprimer cette offre !", flat_path(@flat), method: :delete, data: { confirm: "Etes vous sure?" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# ----------------------------- FLATPICKR ------------------------------------------------------- %>
<div id="booking-form-div"
  data-bookings="<%= @bookings_dates.to_json %>">
</div>
