<div class="banner-show">
  <h2><%= @flat.name %></h2>
</div>

<div class="container">
  <section class="img-show">
    <% if @flat.photo.attached? %>
      <%= cl_image_tag @flat.photo.key, crop: :fill %>
    <% else %>
      <%= image_tag "default_flat.jpg", crop: :fill%>
    <% end %>
  </section>

  <section class="infos-show">
    <div class="text">
      <h3><i class="fa-solid fa-feather-pointed"></i> Informations :</h3>
      <div class="trix-content">
        <p><%= @flat.description %></p>
      </div>
      <br>
      <div style="display: flex; align-items: baseline;">
        <h3><i class="fa-solid fa-money-check-dollar"></i> Prix/jour :</h3> &nbsp <p><%= @flat.daily_price %>€</p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h3><i class="fa-solid fa-house"></i> Superficie :</h3> &nbsp <p><%= @flat.area %> m²</p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h3><i class="fa-solid fa-house"></i> Chambre(s) :</h3> &nbsp <p><%= @flat.beds %></p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h3><i class="fa-solid fa-map-location-dot"></i> Adresse :</h3> &nbsp <p><%= @flat.address.capitalize %></p>
      </div>
      <div style="display: flex; align-items: baseline;">
        <h3><i class="fa-solid fa-map-location-dot"></i> Propriétaire :</h3> &nbsp <p><%= @flat.user.username.capitalize %></p>
      </div>
    </div>
  </section>

  <section class="map-booking">
    <div class="bloc-map">
      <div id="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @marker.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="bloc-booking">
      <% if @flat.user != current_user %>
        <div class="new-booking">
          <%= simple_form_for [@flat, @booking] do |f| %>
            <%= f.input :arrival, as: :date, html5: true, label: false,
                          input_html: { id: "range_start", class: "d-none" } %>
            <%= f.input :departure, as: :date, html5: true, label: false,
                          input_html: { id: "range_end", class: "d-none" } %>
            <%= f.submit "Réservez mainenant !", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% else %>
        <div class="new-booking">
          <%= link_to "Modifier les informations", edit_flat_path(@flat), class: "btn btn-warning" %>
          <%= link_to "Supprimer cette offre !", flat_path(@flat), method: :delete, data: { confirm: "Etes vous sure?" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="new-comment">
    <%= simple_form_for [@flat, @comment] do |f| %>
      <%= f.input :message, label: "Votre avis", as: :rich_text_area, html5: true %>
      <%= f.submit "Publier", class: "btn btn-primary" %>
    <% end %>
  </section>

  <section class="display-comments">
    <% if @comments.empty? %>
      <h4>Soyez le premier à donner votre avis</h4>
    <% else %>
        <% @comments.each do |comment| %>
          <div class="comment">
            <div class="message">
              <i class="fa-solid fa-quote-left"></i>
              <%= comment.message %>
              <i class="fa-solid fa-quote-right"></i>
            </div>
            <p class="username"><%= comment.user.username %></p>
          </div>
        <% end %>
    <% end %>
  </section>
</div>

<%# ----------------------------- FLATPICKR ------------------------------------------------------- %>
<div id="booking-form-div"
  data-bookings="<%= @bookings_dates.to_json %>">
</div>
