<div class="container">
  <% if @bookings.empty? %>
    <section class="blank_page">
      <h2>Aucun résultat</h2>
    </section>
  <% else %>
    <section class="my-bookings">
      <h2>Mes Réservations</h2>
      <div class="grid-bookings">
        <% @bookings.each do |bkg| %>
          <div class="card-books">
            <h2><%= bkg.flat.name %></h2>
            <p>Début : <%= bkg.arrival.strftime('%d/%m/%Y') %></p>
            <p>Fin : <%= bkg.departure.strftime('%d/%m/%Y') %></p>
            <p>Durée : <%= @days = (bkg.arrival..bkg.departure).count %> jours</p>
            <p>Prix journalier : <%= @price = bkg.flat.daily_price %>€</p>
            <p>Montant TOTAL : <%= @days * @price %>€</p>
            <% if bkg.accepted %>
              <p class="status-yes">Statut : Acceptéé</p>
            <% else %>
              <p class="status-wait">Statut : En attente</p>
              <br>
              <%= link_to "Annuler la réservation", booking_path(bkg), method: :delete, data: { confirm: "Etes vous sure?" }, class: "btn-cancel-booking" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</div>

<%# Date format "Lundi 13 Septembre 2022" mais en anglais %>
<% Date.parse(DateTime.now.to_s).strftime('%A %d %B %Y') %>
