<div class="container">
  <h1>Demande de réservation pour :</h1>
  <% if @bookings.empty? %>
    <div class="blank_page">
      <h1>Aucun résultat</h1>
    </div>
  <% else %>
    <% @bookings.each do |bkg| %>
      <div class="flat-grid">
        <div class="card-books">
          <h2><%= link_to bkg.flat.name, flat_path(bkg.flat) %></h2>
          <p>Début : <%= bkg.arrival.strftime('%d/%m/%y') %></p>
          <p>Fin : <%= bkg.departure .strftime('%d/%m/%y')%></p>
          <p>Durée : <%= @days = (bkg.arrival..bkg.departure).count %> jours</p>
          <% @price = bkg.flat.daily_price %>
          <p>Montant : <%= @days * @price %>€</p>
          <% if bkg.accepted %>
            <h4>Réservation acceptée</h4>
          <% else %>
            <%= simple_form_for([@flat, bkg], :method => :patch) do |f| %>
              <%= f.input :accepted, as: :radio_buttons, collection: [[false, 'Refuser'], [true, 'Accepter']], label_method: :second, value_method: :first, label: "Acceptez-vous cette réservation?" %>
              <%= f.submit "Valider", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
