<div class="footer">
  <div>
    <%= link_to "","https://www.linkedin.com/in/ludovic-nourel/", class: "fab fa-linkedin", target: :_blank, rel: 'noopener' %>
    <%= link_to "","https://github.com/Ludo97212", class: "fab fa-github", target: :_blank, rel: 'noopener' %>
    <%= link_to "","#", class: "fab fa-instagram" %>
    <%= link_to "","#", class: "fab fa-facebook" %>
    <%= link_to "","#", class: "fab fa-twitter" %>
  </div>
  <div>
    <%= link_to "Contacts/Infos", "#", class: "cpr" %>
  </div>
</div>
