<footer>
  <section class="dropup">
    <button class="dropbtn">Réseaux</button>
    <div class="dropup-content">
      <%= link_to "","https://www.linkedin.com/in/ludovic-nourel/", class: "fab fa-linkedin", target: :_blank, rel: 'noopener' %>
      <%= link_to "","https://github.com/Ludo97212", class: "fab fa-github", target: :_blank, rel: 'noopener' %>
      <%= link_to "","#", class: "fab fa-instagram" %>
      <%= link_to "","#", class: "fab fa-facebook" %>
      <%= link_to "","#", class: "fab fa-twitter" %>
    </div>
  </section>

  <section class="footer-section">
    <%= link_to "Mentions Légales","/infos", class: "cpr"%>
  </section>

  <section class="footer-section">
    <%= link_to "","https://www.linkedin.com/in/ludovic-nourel/", class: "fab fa-linkedin", target: :_blank, rel: 'noopener' %>
      <%= link_to "","https://github.com/Ludo97212", class: "fab fa-github", target: :_blank, rel: 'noopener' %>
      <%= link_to "","#", class: "fab fa-instagram" %>
      <%= link_to "","#", class: "fab fa-facebook" %>
      <%= link_to "","#", class: "fab fa-twitter" %>
  </section>

  <section class="footer-section">
    <%= link_to "Contact", "/contacts", class: "cpr" %>
  </section>
</footer>
