<div class="footer">
  <div>
  <%= link_to "Contacts /Renseignements", "#", class: "cpr" %>
  </div>
  <div>
    <%= link_to "","/", class: "fab fa-linkedin" %>
    <%= link_to "","/", class: "fab fa-github" %>
    <%= link_to "","/", class: "fab fa-instagram" %>
    <%= link_to "","/", class: "fab fa-facebook" %>
    <%= link_to "","/", class: "fab fa-twitter" %>
  </div>
  <div>
    <%= link_to "Copyrights", "#", class: "cpr" %>
  </div>
</div>
