<footer>
  <section class="footer-section">
    <h4 class="footer-header">Informations</h4>
    <p>@RentAFlat 2023</p>
    <%= link_to "Mentions Légales","/infos" %>
    <%= link_to "CGV","/infos" %>
    <%= link_to "Politique de confidentialité","/infos" %>
  </section>

  <section class="footer-section">
    <h4 class="footer-header">Réseaux</h4>
    <section class="footer-icons">
      <%= link_to "","#", class: "fab fa-youtube" %>
      <%= link_to "","https://www.linkedin.com/in/ludovic-nourel/", class: "fab fa-linkedin", target: :_blank, rel: 'noopener' %>
      <%= link_to "","#", class: "fab fa-instagram" %>
      <%= link_to "","#", class: "fab fa-facebook" %>
      <%= link_to "","#", class: "fab fa-twitter" %>
    </section>
  </section>

  <section class="footer-section">
    <h4 class="footer-header">Renseignements</h4>
    <%= link_to "Contact", "/contact" %>
    <p>Bat 875, Rue des Affaires Etrangères, <br>75001, Paris, France</p>
    <%= link_to "Plan du site","/infos" %>
    <p></p>
  </section>
</footer>
