<div class="footer">
  <div>
  <%= link_to "Contacts /Renseignements", "https://fr.lipsum.com/", class: "cpr", target: :_blank, rel: 'noopener' %>
  </div>
  <div>
    <%= link_to "","https://www.linkedin.com/in/ludovic-nourel/", class: "fab fa-linkedin", target: :_blank, rel: 'noopener' %>
    <%= link_to "","https://github.com/Ludo97212", class: "fab fa-github", target: :_blank, rel: 'noopener' %>
    <%= link_to "","https://fr.lipsum.com/", class: "fab fa-instagram", target: :_blank, rel: 'noopener' %>
    <%= link_to "","https://fr.lipsum.com/", class: "fab fa-facebook", target: :_blank, rel: 'noopener' %>
    <%= link_to "","https://fr.lipsum.com/", class: "fab fa-twitter", target: :_blank, rel: 'noopener' %>
  </div>
  <div>
    <%= link_to "Copyrights", "https://fr.lipsum.com/", class: "cpr", target: :_blank, rel: 'noopener' %>
  </div>
</div>
